DATABASE_URL="postgresql://postgres:postgres@localhost:5432/barber?schema=public"
PORT=3000
NODE_ENV=development
ADMIN_TOKEN="troque-este-token"
APP_BASE_URL="http://localhost:3000"
APP_TIMEZONE="America/Sao_Paulo"
